ul {
  list-style: lower-greek;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}
